.icon {
    display: inline-block;
    width: 0.9rem;
    height: 0.9rem;
    user-drag: none;
    user-select: none;
}

.icon-folder {
    margin: 0 0.6rem;
}

.icon-file {
    margin-left: 1.15rem;
    margin-right: 0.6rem;
}
.icon-arrow {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
}
.arrow-rotated {
    transform: rotate(90deg);
    transition: .3s;
}

.node {
    display: flex;
    align-items: center;
    padding: 0.15rem;
}

.children {
    margin-left: 1.5rem;
}

